@model EventApplicationCore.Model.BookingEquipment
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container">
    <form asp-controller="BookEquipment" asp-action="Equipment" method="post">
        <div class="col-xs-offset-0 col-xs-4">
            <h3><span class="label label-info">Book Equipment</span></h3>
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @for (int i = 0; i < Model.EquipmentList.Count(); i++)
                {
                    <input asp-for="@Model.EquipmentList[i].EquipmentChecked" type="checkbox" />
                    <label asp-for="@Model.EquipmentList[i].EquipmentID">@Model.EquipmentList[i].EquipmentName</label>
                    <input type="hidden" asp-for="@Model.EquipmentList[i].EquipmentID" />
                    <input type="hidden" asp-for="@Model.EquipmentList[i].EquipmentName" />
                    <br />
                }
                <div class="form-actions">
                    <input id="Submit" type="submit" class="btn btn-success" value="Book Equipment" />
                </div>
            </div>
        </div>
    </form>
    <div class="col-xs-offset-0 col-xs-6">
        <div id="wrap">
            <div id="slider-holder">
                @{
                    var data = (List<EventApplicationCore.Model.Equipment>)ViewBag.SliderEquipmentImages;

                    for (int i = 0; i < (data.Count()); i++)
                    {
                        <div class="slide">
                            <div style="background-color:black">@data[i].EquipmentName</div>
                            <img src="/@data[i].EquipmentFilePath" width="400" height="300" alt="@data[i].EquipmentName">
                        </div>
                        <div id="btn-nav-holder">
                            @if (i == 0)
                            {
                                <img src="/images/bn-slide-on.png" width="8" height="8" alt="" />
                            }
                            else
                            {
                                <img src="/images/bn-slide-off.png" width="8" height="8" alt="" />
                            }
                        </div>
                    }
                }
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>