@model EventApplicationCore.Model.BillingModel
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container">


    <div id="DivIdToPrint">
        <div style="border-style: dotted;" class="col-xs-offset-0 col-xs-12" print-section>
            <h3 style="text-align:center"><span class="label label-info">Receipt</span></h3>
            <div class="form-group">
                BookingNo
                <input id="Text7" ng-readonly="true" class="form-control" value="@Model.BookingNo" name="BookingNo" type="text" />
            </div>
            <div class="form-group">
                Booking Date
                <input id="Text6" ng-readonly="true" class="form-control" value="@Model.BookingDate" name="BookingDate" type="text" />
            </div>
            <div class="form-group">
                Total Venue Cost
                <input id="VenueCost" ng-readonly="true" class="form-control" value="@Model.TotalVenueCost" name="TotalVenueCost" type="text" />
            </div>
            <div class="form-group">
                Total Equipments Cost
                <input id="Text1" ng-readonly="true" class="form-control" value="@Model.TotalEquipmentCost" name="TotalEquipmentCost" type="text" />
            </div>
            <div class="form-group">
                Total Foods Cost
                <input id="Text2" ng-readonly="true" class="form-control" value="@Model.TotalFoodCost" name="TotalFoodCost" type="text" />
            </div>
            <div class="form-group">
                Total Flowers Cost
                <input id="Text3" ng-readonly="true" class="form-control" value="@Model.TotalFlowerCost" name="TotalFlowerCost" type="text" />
            </div>
            <div class="form-group">
                Total Lightings Cost
                <input id="Text4" ng-readonly="true" class="form-control" value="@Model.TotalLightCost" name="TotalLightCost" type="text" />
            </div>
            <div class="form-group">
                Total Amount :-
                <input id="Text5" value="@Model.TotalAmount" style="background-color: #666; color: #FFF;" ng-readonly="true" class="form-control" name="TotalLightCost" type="text" />
            </div>
            <div print-remove class="form-group">
                <input type='button' id='btn' value='Print' onclick='printDiv();'>
            </div>
        </div>
    </div>


</div>



<script type="text/javascript">


    function printDiv() {

        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }
</script>
